* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Light background color */
}
/* Other CSS rules */

.menu-icon {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 940px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        width: 250px;
        height: 100%;
        background-color: #004080; /* Dark blue color */
        transition: left 0.3s ease;
        padding-top: 60px;
        z-index: 9;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 20px 0;
        text-align: center;
    }

    .nav-links a {
        display: block;
        padding: 10px 0;
        width: 100%;
    }
}

/* Other CSS rules */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080; /* Dark blue color */
    padding: 10px 20px; /* Increased padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    z-index: 999; /* Ensure the navbar is on top of other elements */
}

.nav-links.active {
    left: 0;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 50px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    vertical-align: middle;
}

.logo-separator {
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
    margin: 0 10px; /* Space between separator and logos */
}

.menu-register {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the menu-register div to the right */
}

.register-btn {
    background-color: #ff6347;
    padding: 10px 25px; /* Increased padding */
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px; /* Space between register button and menu icon */
    font-weight: 600; /* Slightly bolder font weight */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.register-btn:hover {
    background-color: #ff4500;
}

.menu-icon {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 40px; /* Increased margin for better spacing */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500; /* Medium font weight */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-links a:hover {
    color: #ff6347; /* Hover color */
}

@media (max-width: 940px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        
    }

    .logo {
        order: 1;
        z-index: 11;
    }

    .navigation {
        order: 2;
        display: flex;
        align-items: center;
    }

    .menu-register {
        display: flex;
        align-items: center;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        width: 250px;
        height: 100%;
        background-color: #004080; /* Dark blue color */
        transition: left 0.3s ease;
        padding-top: 60px;
        z-index: 10;
    }

    .nav-links li {
        margin: 20px 0;
        text-align: center;
    }

    .nav-links a {
        display: block;
        padding: 10px 0;
        width: 100%;
    }

    #menu-toggle:checked ~ .navigation .nav-links {
        left: 0;
    }

    .menu-icon {
        display: block;
    }

    .register-btn {
        position: relative;
        right: 0;
        top: 0;
        margin-right: 10px;
        background-color: #ff6347;
        padding: 8px 18px; /* Smaller padding for smaller devices */
        border-radius: 5px;
        font-size: 14px; /* Smaller font size for smaller devices */
    }

    .register-btn:hover {
        background-color: #ff4500;
    }

    .logo img {
        height: 40px; /* Smaller height for smaller devices */
    }

    .logo-separator {
        font-size: 20px; /* Smaller font size for separator */
        margin: 0 5px; /* Less space between separator and logos */
    }
}

@media (max-width: 700px) {
    .navbar {
        padding: 10px; /* Adjust padding for smaller screens */
        flex-direction: row;
        justify-content: space-between;
       
    }

    .logo {
        order: 1;
        z-index: 11;
    }

    .navigation {
        order: 2;
        display: flex;
        align-items: center;
    }

    .menu-register {
        display: flex;
        align-items: center;
    }

    .register-btn {
        position: relative;
        right: 0;
        top: 0;
        margin-right: 10px;
        background-color: #ff6347;
        padding: 8px 18px; /* Even smaller padding for very small devices */
        border-radius: 5px;
        font-size: 12px; /* Even smaller font size for very small devices */
    }

    .menu-icon {
        display: block;
    }

    .register-btn:hover {
        background-color: #ff4500;
    }

    .logo img {
        height: 30px; /* Even smaller height for very small devices */
    }

    .logo-separator {
        font-size: 18px; /* Smaller font size for separator */
        margin: 0 5px; /* Less space between separator and logos */
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        width: 250px;
        height: 100%;
        background-color: #004080; /* Dark blue color */
        transition: left 0.3s ease;
        padding-top: 60px;
        z-index: 10;
    }

    .nav-links li {
        margin: 20px 0;
        text-align: center;
        
    }

    .nav-links a {
        display: block;
        padding: 10px 0;
        width: 100%;
    }

    #menu-toggle:checked ~ .navigation .nav-links {
        left: 0;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 10px; /* Adjust padding for very small screens */
        flex-direction: row;
        justify-content: space-between;
       
    }

    .logo {
        order: 1;
        z-index: 11;
    }

    .navigation {
        order: 2;
        display: flex;
        align-items: center;
    }

    .menu-register {
        display: flex;
        align-items: center;
    }

    .register-btn {
        padding: 6px 15px; /* Smaller padding for very small devices */
        font-size: 10px; /* Smaller font size for very small devices */
    }

    .menu-icon {
        display: block;
    }

    .logo img {
        height: 25px; /* Even smaller height for very small devices */
    }

    .logo-separator {
        font-size: 16px; /* Smaller font size for separator */
        margin: 0 3px; /* Less space between separator and logos */
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        width: 250px;
        height: 100%;
        background-color: #004080; /* Dark blue color */
        transition: left 0.3s ease;
        padding-top: 60px;
        z-index: 10;
    }

    .nav-links li {
        margin: 20px 0;
        text-align: center;
    }

    .nav-links a {
        display: block;
        padding: 10px 0;
        width: 100%;
    }

    #menu-toggle:checked ~ .navigation .nav-links {
        left: 0;
    }
}

@media (min-width: 941px) {
    .menu-register {
        order: 3;
    }

    .register-btn {
        order: 2;
        margin-left: 20px; /* Space between nav-links and register button */
    }
}

